body {
  background-color: $secondaryColor;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  z-index: 999;
}

.show__header__shrink {
  padding: 15px 0;
  box-shadow: 0px 0px 10px $hoverColor;
  background: $secondaryColor;
}

.header__nav__logo {
  font-size: 30px;
  font-weight: 700;
  color: $primaryColor;
}

.header__nav__right,
.header__nav__right__list,
.header__nav__right__btns {
  gap: 50px;
}

.header__nav__right__list__item {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 0px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  transition: 0.3s;
  color: #2e2594;
}



.header__nav__right__list__item:hover a{
  font-size: 18px;
  font-weight: bold;
}

.header__nav__right__list__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: red;
  display: none;
}

.header__nav__right__btns__contact:hover {
  border-color: $hoverColor;
  background: $hoverColor;
  color: $secondaryColor;
}


.header__nav__right__btns__hamburger {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}

.header__nav__right__btns__hamburger span {
  width: 20px;
  height: 2.5px;
  background: $primaryColor;
  border-radius: 2px;
  transition: 0.4s;
}

.header__nav__right__btns__hamburger:hover
  .header__nav__right__btns__hamburger__line {
  background: $hoverColor;
}

@media (max-width: 700px) {
  .header__nav__right__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background-color: $secondaryColor;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 15px $hoverColor;
    transition: 0.3s;
    z-index: 9999;
  }

  .header__nav__right__btns {
    gap: 10px;
  }

  .header__nav__right__btns__hamburger {
    display: flex;
  }

  .show__header__nav__right__list {
    left: 0;
  }

  .header__nav__right__list__close {
    display: block;
  }
}
